@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}

.post-content p{
margin-bottom: 0.5rem;
}

.post-content h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2{
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h3{
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h4{
    font-size: 1rem;
    font-family: sans-serif;
}

.post-content a{
    color: blue;
    text-decoration: none;

}

.dark .post-content a{
    color: red;
    text-decoration: none;

}

.post-content a:hover{
    text-decoration: underline;
    cursor: pointer;

}

.custom-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.custom-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-carousel .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.custom-carousel .slide.hidden {
  opacity: 0;
}

.custom-carousel .slide.visible {
  opacity: 1;
}

.relative {
  position: relative;
}

.h-56 {
  height: 14rem;
}

.md\:h-80 {
  height: 20rem;
}

.lg\:h-96 {
  height: 24rem;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}

.bg-black {
  background-color: black;
}

.opacity-50 {
  opacity: 0.5;
}

.z-10 {
  z-index: 10;
}

.top-1\/3 {
  top: 33.3333%;
}

.text-center {
  text-align: center;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.sm\:text-3xl {
  font-size: 1.875rem;
}

.font-bold {
  font-weight: 700;
}

.lg\:text-6xl {
  font-size: 3.75rem;
}

.font-serif {
  font-family: serif;
}

.text-white {
  color: white;
}

.text-xs {
  font-size: 0.75rem;
}

.md\:text-sm {
  font-size: 0.875rem;
}

.lg\:text-lg {
  font-size: 1.125rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.top-1\/2 {
  top: 50%;
}

.transform {
  transform: translateY(-50%);
}

.p-2 {
  padding: 0.5rem;
}


